<main class="edp-landing">
  <section id="hero" class="hero">
    <div class="hero__header">
      <h1>kioT - The future energy</h1>
    </div>
  </section>
  <section class="question">
    <div class="question__title">
      <h1>How's that?</h1>
    </div>
  </section>
  <section class="answers">

    <article class="answers__answer">
      <div class="answers__answer__title">
        <h3>Who are you?</h3>
      </div>
      <div class="answers__answer__body">
        <p>Hello, we're kioT.</p>
      </div>
    </article>

    <article class="answers__answer">
      <div class="answers__answer__title">
        <h3>What's happening?</h3>
      </div>
      <div class="answers__answer__body">
        <p>Huum... not much really, apart from the digital transformation that's disrupting the
          energy industry for good, everything else is going smoothly.</p>
      </div>
    </article>

    <article class="answers__answer">
      <div class="answers__answer__title">
        <h3>How come?</h3>
      </div>
      <div class="answers__answer__body">
        <p>The energy industry is going digital</p>
      </div>
    </article>

    <article class="answers__answer">
      <div class="answers__answer__title">
        <h3>What do you have in mind?</h3>
      </div>
      <div class="answers__answer__body">
        <p>Well, pretty much the same as you do. Optimize energy consumption by reducing
          the inefficiencies cause by excessive usage, while minimizing the ecological bill and
          footprint along the way.</p>
      </div>
    </article>

    <article class="answers__answer">
      <div class="answers__answer__title">
        <h3>How do you get there?</h3>
      </div>
      <div class="answers__answer__body">
        <p>Delivering an all-new control layer over the house or facility holding.</p>
      </div>
    </article>

    <article class="answers__answer">
      <div class="answers__answer__title">
        <h3>How do you do it?</h3>
      </div>
      <div class="answers__answer__body">
        <p>Working wonders about the best-of-breed technologies, for the likes of
          microcontrolling, smart-metering, over-the-air communications, cloud computing
          and artificial intelligence. Sounds good?</p>
      </div>
    </article>

    <article class="answers__answer">
      <div class="answers__answer__title">
        <h3>Can you sketch it?</h3>
      </div>
      <div class="answers__answer__body">
        <p>Sure can do, we're experts at Microsoft Paint. Will some shabby drawing do the job?</p>
      </div>

      <figure>
        <img src="/assets/sketch_edp.png" alt="Paint Sketch">
      </figure>
    </article>

    <article class="answers__answer">
      <div class="answers__answer__title">
        <h3>Awesome, now what?</h3>
      </div>
      <div class="answers__answer__body">
        <p>We’re keen and willing to participate, make, innovate, and ultimately crack our ways
          into the transformation that's taking place.</p>
      </div>
    </article>

    <article class="answers__answer">
      <div class="answers__answer__title">
        <h3>Do you have a face?</h3>
      </div>
      <div class="answers__answer__body">
        <p>Right, we see where you're getting with this ;)</p>
      </div>
    </article>

  </section>

  <section class="question">
    <div class="question__title">
      <h1>What for?</h1>
    </div>
  </section>

  <section class="answers">

    <article class="answers__answer">
      <div class="answers__answer__title">
        <h3>For our health and wealth?</h3>
      </div>
      <div class="answers__answer__body">
        <p>Way to go, dude! You're getting smarter each day...</p>
      </div>
    </article>

  </section>

  <section class="question question--bg-image">
    <img src="/assets/where_about_edp.jpeg" alt="">
    <div class="question__title question__title--white">
      <h1>Where about?</h1>
    </div>
  </section>

  <section class="answers">

    <article class="answers__answer">
      <div class="answers__answer__title">
        <h3>Can we reach each other out?</h3>
      </div>
      <div class="answers__answer__body">
        <p>For starters, we'll be present at <a href="https://edpiothackathon.edp.pt/" target="_blank">EDP's Hackathon</a>, from then on, we can be pretty much
          everywhere. No worries, we'll get to each other!</p>
      </div>
    </article>

    <article class="answers__answer">
      <div class="answers__answer__title">
        <h3>Who's with you?</h3>
      </div>
      <div class="answers__answer__partners">
        <div class="grid">
          <div class="partner">
            <img src="/assets/partners_edp.jpeg" alt="">
          </div>
          <div class="partner">
            <img src="/assets/partners_microsoft.png" alt="">
          </div>
          <div class="partner">
            <img src="/assets/partners_edp_starter.png" alt="">
          </div>
          <div class="partner">
            <img src="/assets/partners_bizspark.png" alt="">
          </div>
        </div>
      </div>
    </article>

  </section>

  <section class="question">
    <div class="question__title">
      <h1>Can I join you?</h1>
    </div>
  </section>

</main>
