@import '../../theme/mixins';
@import '../../theme/variables';
@import "../../theme/forms";


.edp-landing {
  position: relative;

  .hero {
    background-image: url('/assets/header.jpeg');
    background-size: cover;
    position: relative;

    &__header {
      position: absolute;
      top: 15%;
      left: 50px;
      transform: translate(0, -15%);
      color: rgba(196,236,252,1);

      h1 {
        @include biomeRegular(75px, 1);
      }

      &:after {
        content: '';
        display: block;
        background-color: rgba(196,236,252,1);
        transform-origin: 0% 50% 0px;
        width: 80px;

        position: absolute;
        bottom: -30px;

        height: 8px;
        opacity: 1;
        z-index: 0;
        transform: translate(0em, 0em) scale(1, 1);
      }
    }


  }

  .question {
    position: relative;
    height: 300px;
    background-color: rgb(12, 153, 207);
    width: 100%;

    &.question--bg-image {
      overflow: hidden;
      height: 550px;

      img {
        position: absolute;
        opacity: 1;
        z-index: 0;
        width: 100%;
        height: 961px;
        left: 0px;
        top: -404.48px;
      }
    }

    &__title {
      position: absolute;
      bottom: 15px;
      left: 50px;
      line-height: 75px;

      &:before {
        content: '';
        display: block;
        height: 8px;
        transform-origin: 0% 50% 0px;
        transform: translate(0em, 0em) scale(1, 1);
        width: 40px;
        opacity: 1;
        background-color: #FFF;
        position: absolute;
        top: -25px;
      }

      h1 {
        @include biomeLight(55px, 1);
        color: #FFF;
      }


    }
  }

  .answers {
    position: relative;
    background-color: #FFF;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 150px;

    &__answer {
      position: relative;
      margin-bottom: 100px;

      &__title {
        position: relative;
        margin-bottom: 35px;

        &:before {
          content: '';
          display: block;
          height: 8px;
          transform-origin: 0% 50% 0px;
          transform: translate(0em, 0em) scale(1, 1);
          width: 40px;
          opacity: 1;
          background-color: rgba(12,153,207,1);;
          position: absolute;
          top: -25px;
        }

        h3 {
          color: rgba(12,153,207,1);
          @include biomeLight(25px, 1);
        }
      }

      &__body {

        p {
          @include nunitoBold(18px, 24px);
          font-size: 18px;
          font-weight: 700;
        }
      }

      figure {
        img {
          max-width: 100%;
        }
      }


      &__partners {

        .grid {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;

          .partner {
            width: 300px;
            img {
              max-width: 100%;
            }
          }
        }
      }

      &__form {
        position: relative;
      }
    }
  }
}
