$font-biome: 'Biome';
$font-biome-light: 'Biome-Light';
$font-montserrat-bold: 'Montserrat-Bold';
$font-montserrat-light: 'Montserrat-Light';
$font-montserrat-regular: 'Montserrat-Regular';
$font-nunito-bold: 'NunitoSans-Bold';
$font-nunito-regular: 'NunitoSans-Regular';

$alert-color: #F3503F;
$default-accent-color: #0c99cf;

$alert-hover-color: #ff463f;
$alert-pressed-color: #ff4614;

$pressed-btn-color: #2178E0;
$hover-cta-btn-color: #4097FF;
